body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  color: white;
}

footer a {
  float: right;
}

a:link {
    color: #6a5eff; /* Unvisited link color (bright blue) */
    
    text-decoration: underline;
}

a:visited {
    color: #6a5eff; /* Visited link color (lighter purple for contrast) */
}

header {
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.banner {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: var(--theme-text);
    cursor: pointer;
    margin: 0 8px;
    font-size: 13px;
    text-decoration: none
}

